AZURE_OPENAI_API_KEY=""
AZURE_OPENAI_API_VERSION= ""
AZURE_OPENAI_ENDPOINT= ""
AZURE_OPENAI_DEPLOYMENT_NAME=""


AZURE_SA_NAME = ""
AZURE_SA_ACCESSKEY = "" 


DB_HOST = ""
DB_PORT = ""
DB_USER = ""
DB_PASSWORD = ""
DB_NAME = ""
